@import 'src/styles/variables.scss';

.outer-container {
  background-color: $color-white;
  border: solid $color-border-base;
  border-width: 1px 0;
  padding: 25px 0;
}

.title {
  display: flex;
  align-items: center;

  .loading-spinner {
    width: 20px;
    margin-left: 10px;
  }
}

.inner-container {
  h2 {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;

    color: $color-text-base;
  }

  .breadcrumbs {
    margin-top: 10px;
    font-size: 1rem;

    .item {
      color: $color-text-base;

      &.active {
        font-weight: 500;
        color: $color-text-accent;
      }
    }

    .spacer {
      margin: 0 5px;
    }
  }
}
