@import 'src/styles/variables.scss';

.balance-cell {
  text-align: right;
}

.account-table {
  th {
    color: $color-text-accent;
    font-weight: 500;

    &.mat-sort-header {
      color: $color-primary;
    }
  }

  td {
    color: $color-text-base;
    font-weight: 500;
    padding: 15px;

    &.nested-cell {
      padding-left: 40px;
    }
  }

  tr {
    &.flash-increase {
      animation: backgroundFlashIncrease 1s ease-in-out 0s;
    }
    &.flash-decrease {
      animation: backgroundFlashDecrease 1s ease-in-out 0s;
    }
  }
}

@keyframes backgroundFlashIncrease {
  from {
    background-color: $color-primary;
  }
  to {
    background-color: inherit;
  }
}
@keyframes backgroundFlashDecrease {
  from {
    background-color: $color-danger;
  }
  to {
    background-color: inherit;
  }
}
