@import 'src/styles/variables.scss';

.balance-cell {
  text-align: right;
}

.account-table {
  th {
    color: $color-text-accent;
    font-weight: 500;

    &.mat-sort-header {
      color: $color-primary;
    }
  }

  td {
    font-weight: 500;
    padding: 15px;

    &.nested-cell {
      padding-left: 40px;
    }
  }

  tr {
    cursor: pointer;
    color: $color-text-base;

    &:hover {
      background-color: $color-base;
    }
  }
}
