@import 'src/styles/variables.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: $color-base;
  color: $color-text-base;
}

.global-container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-inline {
  display: flex;
  align-items: center;
}
