$color-white: #fff;
$color-base: #f9fafc;
$color-primary: #29b192;
$color-danger: #f44336;
$color-active: #76b4ef;

$color-border-base: #e7e8ea;

$color-text-base: #697d8c;
$color-text-accent: #4f606e;
